.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media all and (max-width: 575px) {
  .pomodoro-buttons,
  .control-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .pomodoro-buttons .btn,
  .control-buttons .btn {
    margin: 2px;
  }
}
